* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('assets/fonts/neuemachina-regular.otf');
}

body {
    background-color: #000;
    color: white;

}


.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

a {
    color: white;
    text-decoration: none;  
}

a:hover {
    color: white;
    text-decoration: underline;  
}

.main::before {
    content: '';
    background-repeat: no-repeat;
    width: 45rem;
    height: 45rem;
    background-size: contain;
    background-image: url('/assets/imgs/background-top.svg');
    position: fixed;
    top: -50rem;
    left: -50rem;
    z-index: -1;
    transform: translate(100%, 100%);
}

.main::after {
    content: '';
    background-repeat: no-repeat;
    width: 65rem;
    height: 65rem;
    background-size: contain;
    background-image: url('/assets/imgs/background-bottom.svg');
    position: fixed;
    top: -65rem;
    bottom: 64rem;
    right: 62rem;
    z-index: -1;
    transform: translate(100%, 100%);
}

@media only screen and (min-width: 768px) {

    .main {
        max-width: 860px;
        margin: 2rem auto;
    }

    .main::before {
        width: 50rem;
    }

    .main::after {
        width: 65rem;
    }

    
}