.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-weight: 500;
}

.languages li::before {
    display: inline-block;
    content: '';
    width: .7rem;
    height: .7rem;
    background-image: url('../img/icons/language.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    margin-left: -1rem;
}